{
  "plugins": [
    [
      "relay",
      {
        "artifactDirectory": "./src/__generated__"
      }
    ],
    ["babel-plugin-twin"],
    ["babel-plugin-macros"],
    ["babel-plugin-styled-components"]
  ]
}
