# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#generated code
src/__generated__/*.graphql.ts
remote-schema.graphql
schema.graphql

.idea
.graphqlconfig

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn
.yarnrc.yml